body
{
    background-color: #e0e0e0;
    font-family: Helvetica;
}

.banner
{
    background-color: #b5b5b5;
    height: 100px;
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    line-height: 100px;
}
