body
{
    background-color: #e0e0e0;
}

/*
***************************************************************
*
*
***************************************************************
*/
.banner
{
    display: block;
    width: 100%;
    padding:20px 0 20px 0;
    min-width: 600px;

    background: -webkit-linear-gradient(top,  #0078b1 10%, #008cb1 100%);
    background-color: #0090b1;

    text-align: center;
    color: #ffffff;
    font-size: 30px;

    font-family: "Yuanti SC";
}

/*
***************************************************************
*
*
***************************************************************
*/


/*
***************************************************************
*
* menus, list
*
***************************************************************
*/
.menu, .list, .btn
{
    display: inline-block;
    background-color: #4598ce;
    border-radius: 2px;
    margin: 1px 0 0 0;
    border-style: none;
}

.list
{
    min-width: 180px;
}
.menu-item, .list-item, .btn
{
    background-color: transparent;
    padding:16px 20px 16px 20px;
    border: 0px none;
    border-radius: 2px;
    margin:0 0 0 0;

    color: #ffffff;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;

    font-family: "Yuanti SC";
}
.menu-item
{
    display: inline-block;
}
.list-item
{
    display: block;
}
.btn
{
    background-color: #4598ce;
    display: inline-block;
}
.menu-item:hover, .list-item:hover, .btn:hover
{
    background-color: #00b5ff;
}
.menu-item:active, .list-item:active, .btn:active
{
    background-color: #00a4ff;
}


/*
***************************************************************
*
* form input style
*
***************************************************************
*/
input[type="text"], input[type="password"]
{
    border-radius: 2px;
    border-style: none;
    padding: 16px 20px 16px 20px;

    font-size: 18px;
    color: #555555;
}
input[type="submit"]
{
    border-style: none;
    border-radius: 2px;
    padding: 16px 20px 16px 20px;
    cursor: pointer;

    background-color: #ff4d00;
    color: white;
    font-size: 18px;
}
input[type="submit"]:hover
{
    background-color: #ff7d00;
}

