body
{
    background-color: #e0e0e0;
    font-family: skia;
}

.header
{
    display: block;
    width: 100%;
    padding:20px 0 20px 0;
    margin: 0 0 2px 0;

    background: -webkit-linear-gradient(top,  #0078b1 10%, #008cb1 100%);
    background-color: #0090b1;
    color: #ffffff;

    font-size: 40px;
    text-align: center;
}
.footer
{
    display: block;
    width: 100%;
    padding:20px 0 20px 0;
    margin: 2px 0 0px 0;

    background-color: #0090b1;
    color: #ffffff;

    font-size: 14px;
    text-align: center;
}
.container
{
    display: inline-block;
    border-radius: 2px;

    color: #ffffff;
    background-color: white;
}
.label
{
    color: #555555;
    font-size: 18px;
    padding: 8px 8px 8px 8px;
}
.pagenumber
{
    color: #555555;
    font-size: 18px;
    padding: 4px 8px 4px 8px;

    text-decoration: none;
}

/*
***************************************************************
*
*
***************************************************************
*/
.banner
{
    display: block;
    width: 100%;
    padding:20px 0 30px 0;
    min-width: 600px;

    background: -webkit-linear-gradient(top,  #0078b1 10%, #008cb1 100%);
    background-color: #0090b1;

    text-align: center;
    color: #ffffff;
    font-size: 30px;

    font-family: "skia";
}

/*
***************************************************************
*
*
***************************************************************
*/


/*
***************************************************************
*
* menus, list
*
***************************************************************
*/
.menu, .list, .btn
{
    display: inline-block;
    background-color: #4598ce;
    border-radius: 2px;
    margin: 1px 0 0 0;
    border-style: none;
}

.list
{
    min-width: 180px;
}
.menu-item, .list-item, .btn
{
    background-color: transparent;
    padding:16px 20px 16px 20px;
    border: 0px none;
    border-radius: 2px;
    margin:0 0 0 0;

    color: #ffffff;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;

    font-family: "skia";
}
.menu-item
{
    display: inline-block;
}
.list-item
{
    display: block;
}
.btn
{
    background-color: #4598ce;
    display: inline-block;
}
.menu-item:hover, .list-item:hover, .btn:hover
{
    background-color: #00b5ff;
}
.menu-item:active, .list-item:active, .btn:active
{
    background-color: #00a4ff;
}


/*
***************************************************************
*
* form input style
*
***************************************************************
*/
input[type="text"], input[type="password"]
{
    border-style: none;
    border-radius: 2px;
    padding: 16px 20px 16px 20px;

    font-size: 18px;
    font-family: skia;
    color: #555555;
}
input[type="submit"]
{
    border-style: none;
    border-radius: 2px;
    padding: 16px 20px 16px 20px;
    cursor: pointer;

    font-size: 18px;
    font-family: skia;
    background-color: #ff4d00;
    color: #ffffff;
}
input[type="submit"]:hover
{
    background-color: #ff7d00;
}

/*
***************************************************************
*
* table
*
***************************************************************
*/

table
{
    border-style: solid;
    border-width: 1px;
    border-color: #dddadb;
    background-color: white;

    font-size: 18px;
}

td, th
{
    border-style: none solid solid none;
    border-width: 1px;
    border-color: #dddadb;

    margin: 0 0 0 0;
    text-align: center;
    height: 50px;
    min-width: 80px;
    max-width: 400px;
}
th
{
    border-width: 1px 0 1px 0;
    background-color: #00bbde;
    font-weight: normal;
    color: white;
}
tr:hover
{
    background-color: #d7f7f8;
}
/* different color of different row*/
tr:nth-child(odd)
{
    background-color: #e8e8e8;
}